:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(78, 77, 77, 0.87);
  background-color: #e4caca;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 300;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: ;
  min-width: 600px;
  min-height: 100vh; */
}

h1 {
  font-size: 1.5em;
  line-height: 1rem;
}

button {
  background-color: #015f61;
  border: none;
  width: 70px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 500;
  font-family: inherit;
  padding: 3px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
button:hover {
  background-color: #044142;
  color: rgb(206, 247, 247);
}
button:focus,
/* Foco visível para botões */
button:focus-visible {
  outline: 0.1rem solid -webkit-focus-ring-color;
}

.nav-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
